# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

tags
cmd/kubevirt-template-validator/kubevirt-template-validator
_out
TODO
internal/pkg/version/version.go
pkg/kubevirtobjs/*.dump
